

 

     
body {
    background: black;
    color: whitesmoke;
}
.callout {
    background: black;
    padding: 10px;
    color: white;
    text-align: right;
    border: none;
    margin-top: 0px;
        margin-bottom: -10px;
}
.x-callout:before {
    display: none;
}

/* faTimeline {
     display: inline-block; 
     font: normal normal normal 14px/1 FontAwesome; 
    font-size: 26px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border-radius: 15px;
    margin-left: 14px;
    margin-top: 12px;} */


.leslieTitle {
    font-family: 'Pacifico', cursive; 
    line-height: auto;
    margin-bottom: auto;
        font-size: 50px;
        text-align: center;
} 

.mosesTitle {
font-family:'Monofett', cursive; 
font-size:80px;
        text-align: center;
}


H4 {
    font-family: 'Georgia', serif;
    letter-spacing: .0em;
    line-height: 133px;
    font-size: 202px;
    text-align: center;
    font-weight: bolder;
    color: #ff1d8e;
        margin-bottom: 1.9rem;
}

.subtitle{
     font-size: 58px;
      text-align: center;
      font-family: 'Georgia', serif;
       padding: 10px;
       margin: 0 20px;
       line-height: 40px;
}

#develop{
font-size:100px;
    line-height: 10px;
}
 
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 12%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    margin-bottom: -45px;
}
 
.webImage{
    vertical-align: middle;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
    margin-bottom: 10px;
    border-radius: 11px;

}
a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}
    
    /* START  socials icons --> */
 
 
.social-links {
  background: #FF4136;
  padding: 2rem 0 1rem;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
}

.social-links i.fa {
  font-size: 2.4rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
  color: whitesmoke;
}

@media screen and (max-width: 39.9375em) {
  .social-links {
    padding: 2rem 0;
  }
  .social-links i.fa {
    font-size: 2rem;
    display: block;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  .social-links a {
    font-weight: bold;
  }
  .social-links .columns {
    margin: 1rem 0;
  }
  .social-links .mobile-stack {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


    /* END Socials icons */

.rezTitle{
    font-family:'Monofett', cursive; 
    font-size:100px; text-align:left; 
    color:white;
}

.devHed{
    font-family: 'Pacifico', cursive;
    font-size:70px;
}

.designHed{
    font-family:'Monofett', cursive; 
    font-size:100px; 
    text-align:right;
}
#sayText {
    font-size: 20px;
    color: #666;
}

.projectsReveal {
         visibility: hidden;
             color: white;
           font-family: 'Fredericka the Great', cursive;
}
            
.social-button.paint-brush:hover .projectsReveal {
 visibility: visible; 
}

.resumeReveal {
         visibility: hidden;
             color: white;
            font-family: 'Fredericka the Great', cursive;
}
            
.id-card:hover .resumeReveal {
 visibility: visible; 
}

.emailReveal {
         visibility: hidden;
             color: white;
            font-family: 'Fredericka the Great', cursive;
}
            
.mail:hover .emailReveal {
 visibility: visible; 
}

.phoneReveal {
         visibility: hidden;
             color: white;
            font-family: 'Fredericka the Great', cursive;
}
            
.phone:hover .phoneReveal {
 visibility: visible; 
}
.copyright {
    font-family: 'Georgia', serif;
    text-align: center;
    color:#ff1d8e;
}

 

.question {
    position: relative;
    padding: 10px 0;
}

h2 {
    font-size: 1.1875rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: white;
    text-align: right;
}



button {
    /* @extend .transition*/
    
    margin-top: 20px;
    background-color: #FF4136;
    /* border: 1px solid #FF4136; */
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    /*      border-radius: 60px;*/
    
    color: white;
    font-weight: 100;
    letter-spacing: 0.1em;
    position: relative;
    top: 20px;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
}
/* button:hover {
    color: white;
    background-color: salmon;
    border: 2px solid white;
}
button #getColorButton:focus {
    color: white;
    background-color: #FF4136;
} */
 #backTop {
     background: black; 
    color: #ff1d8e;
    font-size: 17px;
    font-family: georgia;
}

/* START SOCIAL */ 

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    /* border: 0.125rem solid white; */
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    /* margin-right: 0.25rem; */
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-buttonHomePg {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 3rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  /* margin-bottom: 0.25rem; */
}


.boldRezHed {
    color: black;
    font-weight: 800;
    font-size: 25px;
    font-family: sans-serif;
}

.fa-graduation-cap {
    color: black;
}

.bullet{
    color: black;
}

.rezSubHed {
   color: black;
   font-weight: bold;
   font-size:22px;
}

.rezDetails {
    color: black;
   
}

a.rezStories {
    font-size: 18px;
    color: black;
}

 

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #555;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}


/* END SOCIAL */


.portfolio-resume-spacing {
  margin-bottom: 2rem;
  color: black;
}

.portfolio-resume-wrapper {
padding: 2rem;
    border: #777 1px solid;
    border-radius: 6px;
    background: whitesmoke;
    color: black;
}

.portfolio-resume-headshot {
  margin-bottom: 1rem;
  max-width:55%;
  border: black 5px solid;
}


.portfolio-resume-header {
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid #666;
    font-weight: normal;
    margin-bottom: 1rem;
    font-family: 'coda', sans-serif;
    color: black;
    font-size: 43px;
}


.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;
}

.portfolio-resume-contact-info a:hover {
    color: grey;
}

.portfolio-resume-contact-info a {
  color: whitesmoke;
}

.portfolio-resume-contact-info .fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    vertical-align: middle;
    color: white;
}


.rezDividers{
    font-weight:bolder; font-size:20px
}

 #yearButton {
    /* line-height: 0px; */
    visibility: visible;
    float: left;
    background: white;
    color: #FF4136;
    letter-spacing: none;
        font-family: 'Pacifico', cursive; 
          margin-top: -12px;
      
}


.button #yearButton:hover {
    color: #FF4136;
    background-color: white;
    /* border: 1px solid grey; */
}


.blogTitle{
font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .05em;
    line-height: 3px;
    font-size: 40px;
      text-align: right;

}

.blogTitle2{
font-family:'Monofett', cursive; 
font-size:110px;

      text-align: right;
      display: block;
}

/* YEAR IN COLOR CALENDAR*/

 
#yearInColorHead {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: #FF4136;
    text-align: center;
}
/* Media queries */
    /* ---------------------------------Sm--iphone5-------- */
/* #iPHONE FIX NEEDED? WHERE'S THE MEDIA Q HEADER?      */


 /* ---------------------------------Sm---------- */
/* SMALL only */
    /* 638px */
@media screen and (max-width: 39.9375em) {
    /* @media screen and (max-width: 320px) { */
 
.callout.large {
    padding-top: 1.5rem;
    padding-right: .5rem;
    padding-bottom: 0rem;
    padding-left: .5rem;
    margin-bottom: -20px;
}

 H4 {
    font-family: 'Georgia', serif;
    line-height: 52px;
    font-size: 72px;
    text-align: center;
    color: #ff1d8e;
    font-weight: bold;
    margin-top: unset;
    margin-bottom: 40px;
}
#develop {
    font-size: 42px;
    line-height: 10px;
    text-align: center;
}

   .leslieTitle {
    font-family: 'Pacifico', cursive;
    line-height: 15px;
    font-size: 25px;
    text-align: center;
} 
  .mosesTitle {
    font-family: 'Monofett', cursive;
    font-size: 42px;
    line-height: 10px;
    display: block;
        }

#bluePic {
    display: inline-block;
    vertical-align: middle;
    max-width: 15%;
    height: 20%;
    margin-bottom: unset;
}

.subtitle {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 22px;
    line-height: initial;
}

.rounded-social-buttons {
    text-align: center;
    margin-bottom: -15px;
    margin-top: -44px;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    /* border: 0.1rem solid white; */
    text-align: center;
    color: #fefefe;
    font-size: 1.2rem;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
margin-top: 2.24rem;
}

.rezTitle{
    font-family:'Monofett', cursive; 
    font-size:71px; 
    text-align:left; 
    color:white;
}

.portfolio-resume-headshot { 
    max-width: 55%; 
}

.devHed {
    font-family: 'Pacifico', cursive;
    font-size:49px;
    margin-right: 10px;
    line-height: 70px;
}

.designHed{
    font-family: 'Monofett', cursive;
    font-size: 50px;
    text-align: left;
    margin-right: 30px;
    line-height: initial;
}

.image-hover-wrapper {
    position: relative;
    background: white;
    margin: 1%;
    border-radius: 1%;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    display:inline-block;
    max-width: 88%;
}
 #backTop {
    background: black;
    color: #ff1d8e;
    margin-top: 10px;
    font-size: 17px;
    font-family: georgia;
}
.webImage{
    vertical-align: middle;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
    margin-bottom: 10px;
    border-radius: 11px;

}



.smText{
        color: white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size:12px;
    position: absolute;
    top: 1%;
    left: 30%;
    padding: 2%;
    text-align: center;
    width: 60%;

}
     

        #yearInColorHead {
    font-family: 'Syncopate', sans-serif;
    font-size: 18px;
    color: #FF4136;
    text-align: center;
}

    }





    /* --------------------------------Md---------- */
/* Medium and up */
/* 640px */
@media screen and (min-width: 40em) and  (max-width: 63.9375em) {
    
   .leslieTitle {
    font-family: 'Pacifico', cursive;    
    line-height: 45px;
    margin-bottom: 5px;
    font-size: 55px;
      text-align: center;

} 
        .mosesTitle {
            font-family:'Monofett', cursive; 
            font-size: 80px;
            line-height: 20px;
            margin-left:1px; 
        }

    H4 {
    font-family: 'Georgia', serif;
    line-height: 103px;
    font-size: 140px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#develop {
    font-size: 80px;
    line-height: 1px;
    margin-top: -5px;
}
        #textPencil {
            font-size: 48px;
            color: white;
            padding-left: none;
            text-align: center;
                font-family: 'Open Sans Condensed', sans-serif;
            margin-top: 20px;
            margin-left: 10px;
        }

        #textCamera {
            text-align: center;
        }
       .portfolio-resume-headshot { 
    max-width: 35%; 
}


 .image-hover-wrapper .image-hover-wrapper-banner {

    /* display: none; */
}
.image-hover-wrapper {
    margin: 3%;
}
.image-hover-wrapper a .image-hover-wrapper-reveal p {
    width: 45%;
}

#backTop {
     background: #ff1d8e;
    color: white;
    margin-top: 5px;
    font-family: georgia;
}
        .small-12 {
            padding: 0px;
            width: 100%;
        }
        button {
            margin-top: 0px;
            letter-spacing: .01em;
        }
       

        #pencilColor {
            margin-right: 190px;
        }
 
    }
/* -------------------------------X-Md---------- */
/* X-md  */
/* 64em--74em = 1024px to 1198px*/
/* @media screen and (min-width: 64em) and (max-width: 74.9375em)
{ */
/* --------------------------------Lg---------- */
/* Large only */
/* 64em--74em = 1064px to 1198px*/
@media screen and (min-width: 64em) and (max-width: 74.9375em)
{
     
    .leslieTitle {
        font-family: 'Pacifico', cursive;  
        font-size: 45px;
        line-height: 100px;
    }

    #yearButton {
    clear: both;
    text-align: center;
    visibility: visible;
    float: left;
    line-height: 0px;
    background: white;
    color: #FF4136;
    /* border: .5px solid #666; */
    font-family: 'Pacifico', cursive;
    font-size: 39px;
    border: none;
    /* margin-top: 2px; */
    position: absolute;
    top: 0%; 
}

    #pencilFeel {
        float: right;
        width: 40%;
        height: 40%;
        /* margin-right: 50px; */
        padding: 0px;
        color: white;
        font-size: 100px;
    }
    #textPencil {
        font-size: 48px;
        color: white;
        padding-left: none;
        text-align: center;
            font-family: 'Open Sans Condensed', sans-serif;
        /* margin-top: 20px; */
    }
    #cameraFeel {
        float: right;
        width: 40%;
        /* height: 40%; */
         margin-right: 150px; 
        padding: 0px;
        color: white;
        font-size: 100px;
    }
    #textCamera {
        font-size: 48px;
        color: white;
        padding-left: none;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        /* margin-top: 20px; */
    }
 
   
.portfolio-resume-headshot {
    max-width: 85%;
}

.small-12 {
        padding: 0px;
}
 
    .medium-2 {
        width: 10%;
        padding: 0px;
    }
 
} 


